.PlatzhalterModul{
    background-color: red;
    width: 80%;
    margin-left: 10%;
    min-height: 150px;
    margin-bottom: 5%;
}
#SortierListe{
    background-color: green;
}
.SortierListeStatus{
    background-color: orange!important;
}
.ListenauswertungUsort{
    background-color: #3b82f6!important;
}
.ListenauswertungStatusUsort{
    background-color: yellow!important;
}
.PlatzhalterModulStatus{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    min-height: 150px;
    margin-bottom: 5%;
}